* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    touch-action: none;
}

#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hint {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.7);
    font-family: sans-serif;
    font-size: 14px;
	z-index: 10000;
}

#go {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            cursor: pointer;
            z-index: 9999;
            opacity: 0;
        }